html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    font-family: "IBM Plex Super Family", Montserrat, "Nunito Sans", Merriweather; 
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "skip"
        "header"
        "main"
        "footer";
    background-color: #FFCB05;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2, h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00274C;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

img {
    border: solid 1vw #00274C;
    padding: 10px;
    margin: 10px;
    border-top-right-radius: 10vw;
    max-width: 100%;
    height: auto;
}

li {
    margin: 10px;
    flex: 1 1 auto;
    text-align: center;
}

ul {
    flex-wrap: wrap;
    justify-content: center;
    border: dashed 3px #00274C;
    padding: 0;
}

.skip {
    grid-area: skip;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1000;
}

.skip a {
    background: #FFCB05;
    color: #00274C;
    padding: 10px;
    z-index: 1000;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

header {
    grid-area: header;
    margin-top: 50px;
}

main {
    grid-area: main;
    padding: 20px;
    background-color: white;
}

footer {
    grid-area: footer;
    background-color: #FFCB05;
    color: #00274C;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #00274C;
    text-decoration: none;
}

.skip a:focus, .skip a:hover {
    opacity: 1;
    background: #FFCB05;
    color: #00274C;
    outline: 2px solid #00274C;
}

.skip a[aria-label] {
    display: block;
}
